.app{
    width: 100vw;
    position: relative;
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-style: normal;
}
.app a, button{
    transition: all .4s;
}

.app a:hover{
    opacity: 70%;
    cursor: pointer;
}

input{
    outline: none;
}
input:active{
    outline: none;
}
:focus {
    outline: none;
}
