.popup {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: visibility .5s, opacity .5s;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}

.popup__image{
    background-image: url(../../images/success.svg);
    background-size: cover;
    width: 56px;
    height: 56px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
}

.popup_opened {
    display: flex;
    visibility: visible;
    opacity: 1;
}

.popup__text{
margin-left: 20px;
}
